import { defineComponent, App } from 'vue';

const {{cname}} = defineComponent({
  name: '{{cname}}',
  props: {},
  setup() {
    return {};
  },
  methods: {},
  render() {
    return (
      <span>
      </span>
    );
  },
})

export default {{cname}}
