<template>
  <div>

  </div>
</template>

<script lang="ts" setup>
import { defineProps, defineEmits, ref } from 'vue'

// expect props options
const props = defineProps({
  test: String
});

// expect emits options
const emit = defineEmits(['update']);

let fontSize = ref(14);

</script>

<style scoped>
  div {
    font-size: v-bind(fontSize);
  }

</style>>
