/*
 * @Description: 
 * @Author: lfy
 * @Date: 2020-12-21 11:18:40
 * @LastEditTime: 2020-12-21 11:38:36
 * @LastEditors: lfy
 */
{
    "plugins": [
      [
        "import",
        {
          "libraryName": "vxe-table",
          "style": true // 样式是否也按需加载
        }
      ]
    ]
  }

